*,
*::after,
*::before {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
  line-height: 1.5;
  height: 100vh;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search--container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hide {
  display: none;
}

.main--logo {
  margin-bottom: 2rem;
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  width: auto;
}

.main--form {
  width: 150%;
}
.search {
  border-radius: 24px;
  outline: none;
  border: 1px solid #dfe1e5;
  overflow: hidden;
  padding: 0.8rem 1rem;
  display: flex;
  width: 100%;
}

.search--bar {
  border: none;
  outline: none;
  margin-left: 0.8rem;
  width: 100%;
}

.icon--container {
  height: 23px;
  width: 23px;
}
.icon--container svg {
  fill: #9aa0a6;
}
.icon--aligner {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
}

.bottom {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 1rem;
}

.bottom input[type="submit"] {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-size: 2rem;
  margin: 1rem;
  padding: 1rem;
  min-width: 54px;
  cursor: pointer;
}

.bottom input[type="submit"]:hover {
  box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
  background-color: #f8f9fa;
  border: 1px solid #dadce0;
  color: #202124;
}
.search:hover,
.search:focus,
input[type="text"]:focus .search {
  background-color: #fff;
  box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
  border-color: rgba(223, 225, 229, 0);
}

/* Results section */

.results--header {
  display: flex;
  padding: 3rem 0 4rem 4rem;
  /* padding-top: 3rem;
  padding-left: 4rem; */
  align-items: center;
  border-bottom: 1px solid #ebebeb;
}

.results--logo {
  margin-right: 4rem;
  height: 40px;
}
.results--header .search {
  width: 35%;
  justify-content: space-between;
}
.results--header .icon--aligner {
  margin-right: 1rem;
}

.results--header svg {
  fill: #4285f4;
  cursor: pointer;
  height: 25px;
  width: 25px;
}
.results--header input[type="text"] {
  font-size: 75%;
  width: 100%;
}

.result {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.results--list {
  margin-top: 3rem;
  margin-left: 190px;
}

.result--url {
  color: #202124;
  font-style: normal;
  font-size: 14px;
}

.result--title {
  text-decoration: none;
  font-size: 20px;
}

.result--description {
  color: #4d5156;
  font-size: 14px;
  min-width: 1ch;
  flex-wrap: wrap;
}

.result--tags {
  display: flex;
  align-items: center;
  color: #1a0dab;
}
.result--tag {
  text-decoration: none;
  font-size: 14px;
  color: #1a0dab;
  margin-right: 1rem;
}
.result--tag:not(:first-child) {
  margin-left: 1rem;
}
